<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>controle</title>

  </head>
  <body>
        <h1> Controle de Alunos</h1>
              <link rel="stylesheet" href="../static/bootstrap.css">
        <hr>
        <div>
            <tr>
                <a href="/" class="btn btn-primary" type="submit">Voltar</a>
            </tr>
            <tr>
                <a href="/cadastro" class="btn btn-primary" type="submit">cadastrar</a>
            </tr>
        </div>

            <table>
                <thead>
                <tr>

                <td>Nome</td>
                <td>N_Contato</td>
                <td>dia_de_pag</td>
                <td>data</td>
                <td>pag</td>

                </tr>
                </thead>

                {% for Cadastro in cads %}
                <tr>
                    <td>{{Cadastro.nome}}</td>
                    <td>{{Cadastro.n_contato}}</td>
                    <td>{{Cadastro.dia_de_pag}}</td>
                    <td>{{Cadastro.data}}</td>
                    <td>{{Cadastro.pag}}</td>
                </tr>
                {% endfor %}
            </table>

  </body>
</html>
