<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Akdmia</title>
      <link rel="stylesheet" href="../static/bootstrap.css">
  </head>
  <body>
    <div class="container">
            <div class="page-header">
            <h1>pagina inicial</h1>
            <form>
            </div>
            <tr>
        <button><a href="/cadastro"   class="btn btn-primary" type="submit">Cadastro</a></button>
        <button><a href="/login"   class="btn btn-primary" type="submit">Login</a></button>
            </tr>
            </form>
    </div>
  </body>
</html>
